.table{
    text-align: center;
    border: 1px solid #d5d5d5;
    margin-bottom:0px;
    height:68px;
    min-height: 68px;
    padding-left:10px;
    padding-right:10px;
    padding-top:20px;
    padding-bottom:20px;
}
.reserve-table{
    text-align: center;
    border: 1px solid #d5d5d5;
    margin-bottom:0px;
    height:68px;
    min-height: 68px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
}
.table-col:hover{
    background-color: #FFF;
}
.hod_tables{
    background: #cccccc;
}

.col-lg-3:hover {
    cursor: pointer;

    .col-lg-6 {
    background: white;
    }
}