/* You can add global styles to this file, and also import other style files */
.m-0-px { margin: 0px !important; }
.m-10-px { margin: 10px !important; }
.m-20-px { margin: 20px !important; }
.m-30-px { margin: 30px !important; }
.m-40-px { margin: 40px !important; }
.m-50-px { margin: 50px !important; }

.m-0-per { margin: 0% !important; }
.m-10-per { margin: 10% !important; }
.m-20-per { margin: 20% !important; }
.m-30-per { margin: 30% !important; }
.m-40-per { margin: 40% !important; }
.m-50-per { margin: 50% !important; }

.mt-0-px { margin-top: 0px !important; }
.mt-10-px { margin-top: 10px !important; }
.mt-20-px { margin-top: 20px !important; }
.mt-30-px { margin-top: 30px !important; }
.mt-40-px { margin-top: 40px !important; }
.mt-50-px { margin-top: 50px !important; }
.mt-60-px { margin-top: 60px !important; }
.mt-70-px { margin-top: 70px !important; }
.mt-80-px { margin-top: 80px !important; }
.mt-90-px { margin-top: 90px !important; }
.mt-100-px { margin-top: 100px !important; }

.mt-10-per { margin-top: 10% !important; }
.mt-20-per { margin-top: 20% !important; }
.mt-30-per { margin-top: 30% !important; }
.mt-40-per { margin-top: 40% !important; }
.mt-50-per { margin-top: 50% !important; }

.mb-0-px { margin-bottom: 0px !important; }
.mb-10-px { margin-bottom: 10px !important; }
.mb-20-px { margin-bottom: 20px !important; }
.mb-30-px { margin-bottom: 30px !important; }
.mb-40-px { margin-bottom: 40px !important; }
.mb-50-px { margin-bottom: 50px !important; }
.mb-60-px { margin-bottom: 60px !important; }
.mb-70-px { margin-bottom: 70px !important; }
.mb-80-px { margin-bottom: 80px !important; }
.mb-90-px { margin-bottom: 90px !important; }
.mb-100-px { margin-bottom: 100px !important; }

.mb-10-per { margin-bottom: 10% !important; }
.mb-20-per { margin-bottom: 20% !important; }
.mb-30-per { margin-bottom: 30% !important; }
.mb-40-per { margin-bottom: 40% !important; }
.mb-50-per { margin-bottom: 50% !important; }

.ml-0-px { margin-left: 0px !important; }
.ml-10-px { margin-left: 10px !important; }
.ml-20-px { margin-left: 20px !important; }
.ml-30-px { margin-left: 30px !important; }
.ml-40-px { margin-left: 40px !important; }
.ml-50-px { margin-left: 50px !important; }
.ml-60-px { margin-left: 60px !important; }
.ml-70-px { margin-left: 70px !important; }
.ml-80-px { margin-left: 80px !important; }
.ml-90-px { margin-left: 90px !important; }
.ml-100-px { margin-left: 100px !important; }

.ml-10-per { margin-left: 10% !important; }
.ml-20-per { margin-left: 20% !important; }
.ml-30-per { margin-left: 30% !important; }
.ml-40-per { margin-left: 40% !important; }
.ml-50-per { margin-left: 50% !important; }

.mr-0-px { margin-right: 0px !important; }
.mr-10-px { margin-right: 10px !important; }
.mr-20-px { margin-right: 20px !important; }
.mr-30-px { margin-right: 30px !important; }
.mr-40-px { margin-right: 40px !important; }
.mr-50-px { margin-right: 50px !important; }
.mr-60-px { margin-right: 60px !important; }
.mr-70-px { margin-right: 70px !important; }
.mr-80-px { margin-right: 80px !important; }
.mr-90-px { margin-right: 90px !important; }
.mr-100-px { margin-right: 100px !important; }

.mr-10-per { margin-right: 10% !important; }
.mr-20-per { margin-right: 20% !important; }
.mr-30-per { margin-right: 30% !important; }
.mr-40-per { margin-right: 40% !important; }
.mr-50-per { margin-right: 50% !important; }

.p-0-px { padding: 0px !important; }
.p-2-px { padding: 10px !important; }
.p-10-px { padding: 10px !important; }
.p-20-px { padding: 20px !important; }
.p-30-px { padding: 30px !important; }
.p-40-px { padding: 40px !important; }
.p-50-px { padding: 50px !important; }

.p-0-per { padding: 0% !important; }
.p-10-per { padding: 10% !important; }
.p-20-per { padding: 20% !important; }
.p-30-per { padding: 30% !important; }
.p-40-per { padding: 40% !important; }
.p-50-per { padding: 50% !important; }

.pt-0-px { padding-top: 0px !important; }
.pt-8-px {padding-top: 8px !important}
.pt-10-px { padding-top: 10px !important; }
.pt-20-px { padding-top: 20px !important; }
.pt-30-px { padding-top: 30px !important; }
.pt-40-px { padding-top: 40px !important; }
.pt-50-px { padding-top: 50px !important; }
.pt-60-px { padding-top: 60px !important; }
.pt-70-px { padding-top: 70px !important; }
.pt-80-px { padding-top: 80px !important; }
.pt-90-px { padding-top: 90px !important; }
.pt-100-px { padding-top: 100px !important; }

.pt-5-per { padding-top: 5% !important; }
.pt-10-per { padding-top: 10% !important; }
.pt-20-per { padding-top: 20% !important; }
.pt-30-per { padding-top: 30% !important; }
.pt-40-per { padding-top: 40% !important; }
.pt-50-per { padding-top: 50% !important; }

.pb-0-px { padding-bottom: 0px !important; }
.pb-10-px { padding-bottom: 10px !important; }
.pb-20-px { padding-bottom: 20px !important; }
.pb-30-px { padding-bottom: 30px !important; }
.pb-40-px { padding-bottom: 40px !important; }
.pb-50-px { padding-bottom: 50px !important; }
.pb-60-px { padding-bottom: 60px !important; }
.pb-70-px { padding-bottom: 70px !important; }
.pb-80-px { padding-bottom: 80px !important; }
.pb-90-px { padding-bottom: 90px !important; }
.pb-100-px { padding-bottom: 100px !important; }

.pb-10-per { padding-bottom: 10% !important; }
.pb-20-per { padding-bottom: 20% !important; }
.pb-30-per { padding-bottom: 30% !important; }
.pb-40-per { padding-bottom: 40% !important; }
.pb-50-per { padding-bottom: 50% !important; }

.pl-0-px { padding-left: 0px !important; }
.pl-10-px { padding-left: 10px !important; }
.pl-20-px { padding-left: 20px !important; }
.pl-30-px { padding-left: 30px !important; }
.pl-40-px { padding-left: 40px !important; }
.pl-50-px { padding-left: 50px !important; }
.pl-60-px { padding-left: 60px !important; }
.pl-70-px { padding-left: 70px !important; }
.pl-80-px { padding-left: 80px !important; }
.pl-90-px { padding-left: 90px !important; }
.pl-100-px { padding-left: 100px !important; }

.pl-10-per { padding-left: 10% !important; }
.pl-20-per { padding-left: 20% !important; }
.pl-30-per { padding-left: 30% !important; }
.pl-40-per { padding-left: 40% !important; }
.pl-50-per { padding-left: 50% !important; }

.pr-0-px { padding-right: 0px !important; }
.pr-10-px { padding-right: 10px !important; }
.pr-20-px { padding-right: 20px !important; }
.pr-30-px { padding-right: 30px !important; }
.pr-40-px { padding-right: 40px !important; }
.pr-50-px { padding-right: 50px !important; }
.pr-60-px { padding-right: 60px !important; }
.pr-70-px { padding-right: 70px !important; }
.pr-80-px { padding-right: 80px !important; }
.pr-90-px { padding-right: 90px !important; }
.pr-100-px { padding-right: 100px !important; }

.pr-10-per { padding-right: 10% !important; }
.pr-20-per { padding-right: 20% !important; }
.pr-30-per { padding-right: 30% !important; }
.pr-40-per { padding-right: 40% !important; }
.pr-50-per { padding-right: 50% !important; }

/****************** Font Css **********************/

.font-10{font-size: 10px;}
.font-12{font-size: 12px;}
.font-14{font-size: 14px;}
.font-16{font-size: 16px;}
.font-18{font-size: 18px;}
.font-20{font-size: 20px;}
.font-22{font-size: 22px;}
.font-24{font-size: 24px;}
.font-26{font-size: 26px;}
.font-28{font-size: 28px;}
.font-30{font-size: 30px;}
.font-32{font-size: 32px;}
.font-34{font-size: 34px;}
.font-36{font-size: 36px;}
.font-38{font-size: 38px;}
.font-40{font-size: 40px;}
.font-50{font-size: 50px;}
/************ Other Property **********************/

.body{
    margin:0px;
}
.theme-background{background-color:#f7f7f7;}
.header-background{background-color:#2e3640;}
.white-background{background-color:#FFF;border-bottom:1px solid #f7f7f7;}

.active{
    border-bottom: 2px solid #FFF;
}
.green-background{background-color:#00A33A;}

.white-text{color:#FFF;}
.font-weight-600{font-weight: 600;}

.center-text{text-align: center;}
.right-text{text-align: right;}
.left-text{text-align: left;}

.float-right{float:right;}
.float-left{float:left;}

.v-align-m { vertical-align: middle; }

.ellipsis { white-space: nowrap; overflow:hidden !important; text-overflow: ellipsis; }
.no-display { display: none; }

.row{
    margin-right:0px !important;
    margin-left:0px !important;
}